/*Scrollbar*/
body::-webkit-scrollbar {
    width: 0.5vw;
}

body::-webkit-scrollbar-track {
    background: gray;
}

body::-webkit-scrollbar-thumb {
    border: 1vw;
    border-radius: 10vw;
    background: white;
}

.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
  }
/*Scrollbar*/

/*Body*/

html {
    margin: none;
    font-family: "Monda";
}

html, body {
    overflow-x: hidden;
}

body {
    margin: 0; 
    /*background: linear-gradient(-25deg, #c52121, #f0d74a, #23a6d5, #23d5ab);*/
    background-color: rgb(19, 220, 235);
    background-size: 100vw 100vh;
    background-size: cover;
    transition: all 1s;
}

.empty_space {
    background-color: transparent;
    width: 101vw;
    height: 10vh;
}

/*Header components*/

#header {
    width: 100vw;
    height: 4.5vh;
    background-color: gray;
    box-shadow: 1vw 0.6vw 2vw gray;
    order: 1; 
    display: flex;
    flex-direction: row;
    font-family: "Monda";
}

#logo {
    width: 20vw;
    height: 8.5vh;
    background-color: lightseagreen;
    font-size: 5vw;
    margin-right: 40vw;
}

#github, #fcc, #codewars, #cklaxon {
    background-size: contain;
    background-repeat: no-repeat;
}

#github {
    background-image: url(images/github.png);
}

#fcc {
    background-image: url(images/fcc.png);
}

#codewars {
    background-image: url(images/codewars.png);
}

#cklaxon {
    background-image: url(images/cklaxon.png);
    
}


/*Animations & Misc*/

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 170% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    @keyframes FadeIn {
        0% {
            opacity: 0%;
        }
        100% {
            opacity: 100%;
        }
    } 

    @keyframes FadeOut {
        0% {
            opacity: 100%;
        }
        100% {
            opacity: 0%;}
        } 

    @keyframes CZoomIn {
        0% {
            transform: scale(0.85)
        }
        100% { 
            transform: scale(1)}
        }

    @keyframes CZoomOut {
        0% {
            transform: scale(0.85)
        }
        100% { 
            transform: scale(0)}
        }

    @keyframes ColorShift {
        0% {
            color:rgba(0, 0, 0, 0.44)
        }
        25% {
            color: rgba(214, 126, 255, 0.8);
        }
        50% {
            color:rgba(243, 11, 11, 0.8);
        }
        75% {
            color: rgba(214, 126, 255, 0.8);
        }
        100% {
            color:rgba(0, 0, 0, 0.44);
        }
    }

    @keyframes flip {
        0% {
            transform: skew(-20deg) perspective(120px) rotateX(0deg) rotateY(0deg);
            -webkit-transform: skew(-20deg) perspective(120px) rotateX(0deg) rotateY(0deg);
        } 100% {
            transform: skew(-20deg) perspective(120px) rotateX(-360.0deg) rotateY(0deg);
            -webkit-transform: skew(-20deg) perspective(120px) rotateX(-360.0deg) rotateY(0deg);
        }
    }

    @keyframes jump {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.5)
        }
        100% {
            transform: scale(1)
        }
    }

    @import url('https://fonts.googleapis.com/css?family=Monda');

/*SCProject - Github Version
CSCK.
cklaxon.co.uk 2021
*/

